/*
Theme Name: Awa
Theme URI: http://wp.themedemo.co/awa
Author: FOXTHEMES
Author URI: https://themeforest.net/user/fox-themes
Description: A stunning visual experience for minimal loving creative. This template is a responsive and retina-ready WordPress theme with grid system layout. It is optimized for mobile touch and swipe.
Version: 1.3.1
Tags: one-column, two-columns, right-sidebar, custom-menu, post-formats, sticky-post
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: awa OQO
*/

*{font-family: 'Poppins', sans-serif !important;}

html,body{
    margin:0 !important;
    padding:0 !important;
}

.vc_column-inner{
    padding-top:0px !important;
}

/*MENU PRINCIPAL*/

#menu_slide{
    position:absolute;
    top:25%;
    z-index:9999;
}

#menu_slide ul{
    margin:0;
    padding:0;
}

#menu_slide ul li{
    list-style:none;
    padding:0;
    margin:0;
    line-height: 1.1;
}

#menu_slide ul li a{
    font-weight: 800;
    font-size:60px;
    text-decoration:none;
    color:#ffffff;
}

#menu_slide ul li a:hover{
    color: #fdc215;
    text-decoration:underline;
}

/*FIN MENU PRINCIPAL*/

/*EFECTO DE AGUA*/
/*Olas de mar*/

.ocean {
    position:absolute;
    bottom:0;
    left:0;
}

.wave {
    background: url(http://localhost/web/oqo/wp-content/uploads/2018/11/wave.svg) repeat-x; 
    position: absolute;
    top: -145px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/*EFECTO DE AGUA*/

/*CONTENIDO*/

/*Botones*/
.btn-sitio a{
    color:#FFC312;
    font-size:22px;    
    text-decoration:none;
}

.btn-sitio a span{
    padding-bottom:17px;
    border-bottom:7px solid #FFC312;
} 

.btn-sitio a img, .btn-sitio2 a img{
    width:25px;
    margin-left:30px;
}

.btn-sitio2 a{
    color:#FFF;
    font-size:22px;    
    text-decoration:none;
}

.btn-sitio2 a span{
    padding-bottom:17px;
    border-bottom:7px solid #FFF;
}
/*Fin Botones*/

/*Somos | About Us*/
.texto-somos{
    padding-left:5%;
}

.texto-somos article{
    display:inline-block;
    vertical-align: top;
    color:#fff;
    margin:30px;
}

.texto-somos article.izq{
    text-align:right;
    font-size:24px;

}

.texto-somos article.izq .btn-sitio{
    margin-top:50px;
}

.texto-somos article.izq p{
    margin-top:20px;
}

.texto-somos article.der{
    text-align:left;
}

.texto-somos article.der h2{
    font-size:62px;
    font-weight: 800;
    line-height: 1;
}



/*FIN CONTENIDO*/


/*Para Cambiar el color de los captions en los thumbs del template minimal-portfolio */

.tg-awa-simple-3 .tg-item-media-content, .tg-awa-simple-3 .tg-element-1, .tg-cats-holder {
    background-color: #FFC312 !important;
}

.tg-cats-holder {
    color:#00113C !important;
}

.team-img figure, .team-img div, .team-img img{
    width:100% !important;
}

.team-img img{
    height: auto;
    max-height: 550px;
}

/*FOOTER*/

#footer{
    padding:0 !important;
}

.footer_ex{
    width:100%;
    background:#1A1A1A;
}

section.footer{
    width:100%;
    max-width:1400px;
    padding-top:20px;
    height: 220px;
    margin:0 auto;
    background:#1A1A1A;/*#1A1A1A*/
    color:#8D8D8D;
}

section.footer article{
    display:inline-block;
    vertical-align:top;
    width:100%;
}

article.col1{
    max-width:360px;
}

article.col2{
    max-width:430px;
}

article.col3{
    max-width:300px;
}

article.col4{
    max-width:230px;
}

.footer_title{
    color:#fff;
    font-size:18px;
    padding-bottom: 30px;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.col1 img{
    width:100%;
    max-width: 130px !important;
}

nav.footer_nav ul{margin:0; padding:0;}

nav.footer_nav ul li{
    list-style:none;
}

nav.footer_nav ul li a{
    color:#8D8D8D;
    text-decoration:none;
}

nav.footer_nav ul li a:hover{
    text-decoration:underline;
}

/*FIN FOOTER*/



